.title{
    color:#02020B !important;
  }
  
  .author{
    color:#02020B;
  }
  img{
    width:80%;
    border-radius:10px;
  }
  .col-image{
    padding:0px 0px 0px 10px  !important;
  }
  
  .description{
    font-size: 14px;
    color:#02020B;
  }
  .col-description{
    padding: 0px 10px 0px 0px !important;
  }
  
  .noResults{
    background: rgb(243, 243, 243);
    border-radius:5px;
    padding:10px;
  }
  
  body{
    background-image: url("images/library.jpeg");
  }
  .jumbotron{
    margin-top:20px;
    background: rgb(243, 243, 243);
    border: 2px solid rgb(0, 0, 0);
  }
  .searchBtn{
    background-color:rgb(56, 160, 245) !important;
    border-color:rgb(0, 0, 0) !important;
    border:2px solid rgb(0, 0, 0);
  }
  .searchBtn:hover,.searchBtn:active{
    background-color:rgb(4, 70, 146)!important;
  }
  
  @media only screen and (max-width: 600px) {
    img{
      width:90%;
    }
    .description{
      font-size: 10px;
    }
  }